.highlight  { 
    background: #202020; 
    color: #d0d0d0;
}
div.highlight {
  background-color:#202020;
  color: #d0d0d0;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: auto;
}

.highlight pre code {
  font-family: Consolas,'Liberation Mono',Courier,monospace;
  font-size: 10pt;
  color: #d0d0d0;
  white-space: pre;
}

pre {
    margin: 0;
    line-height: 1;

}

.highlight .hll { background-color: #404040 }
.highlight .c { color: #FEFDFF; font-style: italic } /* Comment E0E2E4 EC7600*/
.highlight .err { color: #a61717; /*background-color: #e3d2d2*/ } /* Error */
.highlight .g { color: #d0d0d0 } /* Generic */
.highlight .k { color: #00CC88; font-weight: bold } /* Keyword */
.highlight .l { color: #EC7600 } /* Literal */ /* A1B3B8 */
.highlight .n { color: #19D9FF } /* Name 00BFE6 */
.highlight .o { color: #CCCC00 } /* Operator FFFF00*/
.highlight .x { color: #d0d0d0 } /* Other */
.highlight .p { color: #ffffb3 } /* Punctuation */ /* ffffff */
.highlight .cm { color: #FEFDFF; font-style: italic } /* Comment.Multiline */ /* EC7600 */
.highlight .cp { color: #FEFDFF; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #FEFDFF; font-style: italic } /* Comment.Single */
.highlight .cs { color: #FEFDFF; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlight .gd { color: #d22323 } /* Generic.Deleted */
.highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #d22323 } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #589819 } /* Generic.Inserted */
.highlight .go { color: #cccccc } /* Generic.Output */
.highlight .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #d22323 } /* Generic.Traceback */
.highlight .kc { color: #93C763; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #93C763; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #93C763; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #93C763 } /* Keyword.Pseudo */
.highlight .kr { color: #00CC00; font-weight: bold } /* Keyword.Reserved AACC00*/
.highlight .kt { color: #008B2F; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #d0d0d0 } /* Literal.Date */
.highlight .m { color: #FFB319 } /* Literal.Number */
.highlight .s { color: #EC7600 } /* Literal.String */
.highlight .na { color: #bbbbbb } /* Name.Attribute */
.highlight .nb { color: #24909d } /* Name.Builtin */
.highlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlight .no { color: #40ffff } /* Name.Constant */
.highlight .nd { color: #ffa500 } /* Name.Decorator */
.highlight .ni { color: #d0d0d0 } /* Name.Entity */
.highlight .ne { color: #bbbbbb } /* Name.Exception */
.highlight .nf { color: #4DFFFF } /* Name.Function */
.highlight .nl { color: #d0d0d0 } /* Name.Label */
.highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlight .nx { color: #d0d0d0 } /* Name.Other */
.highlight .py { color: #d0d0d0 } /* Name.Property */
.highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #00CCCC } /* Name.Variable */
.highlight .ow { color: #CCCC00; font-weight: bold } /* Operator.Word FFFFB3 EEFFCC*/
.highlight .w { color: #666666 } /* Text.Whitespace */
.highlight .mf { color: #FFB319 } /* Literal.Number.Float */
.highlight .mh { color: #FFB319 } /* Literal.Number.Hex */
.highlight .mi { color: #FFB319 } /* Literal.Number.Integer */
.highlight .mo { color: #FFB319 } /* Literal.Number.Oct */
.highlight .sb { color: #EC7600 } /* Literal.String.Backtick FEFDFF*/
.highlight .sc { color: #EC7600 } /* Literal.String.Char */
.highlight .sd { color: #EC7600 } /* Literal.String.Doc */
.highlight .s2 { color: #EC7600 } /* Literal.String.Double */
.highlight .se { color: #EC7600 } /* Literal.String.Escape */
.highlight .sh { color: #EC7600 } /* Literal.String.Heredoc */
.highlight .si { color: #EC7600 } /* Literal.String.Interpol */
.highlight .sx { color: #EC7600 } /* Literal.String.Other */
.highlight .sr { color: #EC7600 } /* Literal.String.Regex */
.highlight .s1 { color: #EC7600 } /* Literal.String.Single */
.highlight .ss { color: #EC7600 } /* Literal.String.Symbol */
.highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight .vc { color: #40ffff } /* Name.Variable.Class */
.highlight .vg { color: #40ffff } /* Name.Variable.Global */
.highlight .vi { color: #40ffff } /* Name.Variable.Instance */
.highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */
